@charset "UTF-8";

@font-face {
  font-family: GolosText;
  font-display: swap;
  src: url("../fonts/GolosText-Regular.woff2") format("woff2"), url("../fonts/GolosText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GolosText;
  font-display: swap;
  src: url("../fonts/GolosText-Bold.woff2") format("woff2"), url("../fonts/GolosText-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Merriweather;
  font-display: swap;
  src: url("../fonts/Merriweather-Regular.woff2") format("woff2"), url("../fonts/Merriweather-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: GolosText;
  font-display: swap;
  src: url("../fonts/GolosText-Medium.woff2") format("woff2"), url("../fonts/GolosText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: GolosText;
  font-display: swap;
  src: url("../fonts/GolosText-SemiBold.woff2") format("woff2"), url("../fonts/GolosText-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow-right:before {
  content: "\e900";
}

._icon-horse:before {
  content: "\e901";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #313131;
  line-height: 1;
  font-family: "GolosText";
  font-size: 20px;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "GolosText";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  outline: none;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  line-height: normal;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  margin: 0 auto;
  max-width: 76.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: rgb(255, 255, 255);
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}

.lock .popup__content {
  visibility: visible;
}

.popup__close {
  display: block;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 5;
}

@supports (top: clamp( 1.25rem , 1.0613207547rem  +  0.9433962264vw , 1.875rem )) {
  .popup__close {
    top: clamp( 1.25rem , 1.0613207547rem  +  0.9433962264vw , 1.875rem );
  }
}

@supports not (top: clamp( 1.25rem , 1.0613207547rem  +  0.9433962264vw , 1.875rem )) {
  .popup__close {
    top: calc(1.25rem + 0.625 * (100vw - 20rem) / 66.25);
  }
}

@supports (right: clamp( 1.25rem , 1.0613207547rem  +  0.9433962264vw , 1.875rem )) {
  .popup__close {
    right: clamp( 1.25rem , 1.0613207547rem  +  0.9433962264vw , 1.875rem );
  }
}

@supports not (right: clamp( 1.25rem , 1.0613207547rem  +  0.9433962264vw , 1.875rem )) {
  .popup__close {
    right: calc(1.25rem + 0.625 * (100vw - 20rem) / 66.25);
  }
}

.popup__close span,
.popup__close::before,
.popup__close::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
}

.popup__close::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__close::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 66px;
  padding: 20px 49px;
  max-width: 263px;
  max-height: 72px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.btn__black {
  background: #1F1F1F;
  color: #fff;
}

.btn__white {
  border: 2px solid #1F1F1F;
  background-color: transparent;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.18px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 108%;
  color: #595653;
}

.logo__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.73px;
}

.logo__icon {
  font-size: 31.8px;
}

.logo__text {
  font-weight: 700;
}

.footer {
  background: #e9ded4;
}

.footer__container {
  padding-top: 40px;
  padding-bottom: 72px;
}

.footer__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.hero {
  padding-top: 26px;
  padding-bottom: 130px;
  position: relative;
  overflow: hidden;
}

.hero__background {
  position: absolute;
}

.hero__images {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero__background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: color-burn;
  background-color: #e9ded4;
}

.hero__city {
  position: absolute;
  bottom: 0;
  right: -10px;
  width: 100%;
  height: 452px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero__city img {
  -o-object-fit: contain;
     object-fit: contain;
}

.hero__logo {
  position: relative;
  margin-bottom: 63px;
  z-index: 5;
}

.hero__content {
  position: relative;
  max-width: 542px;
  z-index: 5;
}

.hero__title {
  font-family: "Merriweather";
  font-weight: 400;
  font-size: 60px;
  line-height: 110%;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.hero__title_middle {
  text-align: center;
}

.hero__title_last {
  text-align: right;
}

.hero__text {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 40px;
}

.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.ticker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  background: #F54932;
  color: #fff;
  white-space: nowrap;
  font-family: "Merriweather";
  font-weight: 400;
  font-size: 22px;
  line-height: 110%;
  text-transform: uppercase;
}

.ticker__text {
  -webkit-animation: scroll 20s linear infinite;
  animation: scroll 20s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ticker__text span {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 14px;
  margin-left: 14px;
}

@-webkit-keyframes scroll {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -webkit-transform: translateX(calc(-100% - 20px));
    transform: translateX(calc(-100% - 20px));
  }
}

@keyframes scroll {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -webkit-transform: translateX(calc(-100% - 20px));
    transform: translateX(calc(-100% - 20px));
  }
}

.about {
  padding-top: 80px;
  padding-bottom: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 44px;
}

.about__item_bottom {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 17px;
  position: relative;
  left: -2.2%;
  width: 102.2%;
}

.about__title {
  font-family: "Merriweather";
  font-weight: 400;
  font-size: 36px;
  line-height: 135%;
  text-transform: uppercase;
}

.about__title span {
  color: #F54932;
  font-weight: 700;
}

.about__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 29px;
}

.about__table {
  margin-top: 60px;
  margin-bottom: 45px;
  border: 3px solid #fff;
  border-collapse: collapse;
}

.about__table tr td {
  padding-top: 15px;
  padding-bottom: 15px;
}

.about__table tr:first-child td {
  padding-top: 0;
}

.about__table tr:last-child td {
  padding-bottom: 0;
}

.about__td {
  border: 2px solid #d0d0d0;
  line-height: 120%;
}

.about__td_left {
  opacity: 0.7;
  padding-left: 0;
  min-width: 150px;
}

.about__td_right {
  padding-left: 16px;
  font-weight: 600;
  width: 56.5%;
}

.about__td_right span {
  text-decoration: line-through;
  -webkit-text-decoration-color: #F54932;
          text-decoration-color: #F54932;
  margin-right: 4px;
}

.about__picture {
  position: relative;
  max-width: 528px;
  height: 100%;
  mix-blend-mode: color-burn;
  background-color: #fff;
}

.about__picture img {
  height: 100%;
}

.about__picture_background {
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: color-burn;
}

.about__link {
  line-height: 120%;
  color: #3057a2;
}

.stages {
  position: relative;
}

.stages__top {
  display: inline-block;
  max-width: 806px;
  margin-bottom: 54px;
}

.stages__title {
  font-family: "Merriweather";
  font-size: 54px;
  line-height: 120%;
  text-transform: uppercase;
}

.stages__link {
  display: inline-block;
  font-family: "GolosText";
  font-size: 20px;
  line-height: 120%;
  color: #3057a2;
  text-transform: none;
  max-width: 280px;
  margin-left: 7px;
}

.stages__slider {
  overflow: hidden;
}

.stages__slider-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
}

.stages__slider-prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.stages__slider-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
}

.stages__slider-bullets .bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #D9D9D9;
}

.stages__slider-bullets .bullet-active {
  background-color: #313131;
}

.stages__slider-prev,
.stages__slider-next {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #313131;
  color: #fff;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.stages__items {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32.3% 32.2% auto;
  grid-template-columns: 32.3% 32.2% auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
}

.no-webp .stages__item{
  background-image: url("../img/opacity-background.png"), url("../img/player-background.png"); }

.stages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  padding: 20px;
}

.stages__item:nth-child(3) {
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

.stages__item:nth-child(7) {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.stages__item:nth-child(7) p {
  max-width: 446px;
  text-align: left;
}

.stages__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36px;
          flex: 0 0 36px;
  height: 36px;
  background: #fff;
  font-weight: 600;
}

.stages__text {
  font-weight: 500;
  line-height: 120%;
}

.stages__picture {
  position: absolute;
  right: -5.1%;
  bottom: -1px;
}

.stages__picture img {
  width: 100%;
}

.participants {
  padding-top: 200px;
  padding-bottom: 140px;
}

.participants__container {
  overflow: hidden;
}

.participants__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  position: relative;
  left: 0;
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
}

.participants__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
}

.participants__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.participants__title {
  font-family: "Merriweather";
  font-weight: 400;
  font-size: 54px;
  line-height: 120%;
  text-transform: uppercase;
}

.participants__slider-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.participants__slider-prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.participants__slider-next,
.participants__slider-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  border-radius: 100%;
  background-color: #313131;
  width: 44px;
  height: 44px;
}

.participants__slider-fractions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
  font-size: 16px;
}

.participants__slider-delimiter,
.participants__slider-all {
  opacity: 0.6;
}

.participants__picture {
  max-width: 320px;
}

.participants__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.participants__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.participants__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 5px;
  text-align: center;
}

.participants__role {
  opacity: 0.6;
  margin-bottom: 20px;
  text-align: center;
}

.participants__more {
  display: block;
  border: 1px solid #3057a2;
  border-radius: 62px;
  padding: 7px 11px;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #3057a2;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

@media (min-width: 61.99875em) {
  .stages__slider-bullets {
    display: none;
  }

  .stages__slider-prev,
  .stages__slider-next {
    display: none;
  }
}

@media (min-width: 991.98px) {
  .about__image {
    display: none;
  }
}

@media (max-width: 1400px) {
  .btn__white {
    background: #fff;
    opacity: 0.9;
    border: none;
  }
}

@media (max-width: 1380px) {
  .stages__item:nth-child(7) p {
    max-width: 320px;
  }

  .stages__picture {
    bottom: 0%;
    right: -12%;
  }
}

@media (max-width: 991.98px) {
  .about {
    gap: 10px;
  }

  .about__item_bottom {
    left: 0;
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px);
    gap: 0;
  }

  .about__picture {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

@media (max-width: 610px) {
  .stages__picture {
    left: 40px;
    top: 27.5%;
    max-width: 340px;
    -webkit-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
}

@media (max-width: 86.25em) {
  [class*=__container] {
    max-width: 60.625rem;
  }
}

@media (max-width: 61.99875em) {
  [class*=__container] {
    max-width: 46.875rem;
  }

  .about {
    padding-top: 48px;
    padding-bottom: 120px;
  }

  .about__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .about__item {
    text-align: left;
  }

  .about__content {
    padding-top: 2px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .about__table {
    margin-top: 43px;
    margin-bottom: 40px;
  }

  .stages__top {
    margin-bottom: 0;
  }

  .stages__title {
    font-size: 36px;
    line-height: 110%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
  }

  .stages__link {
    margin-left: 0px;
    font-size: 18px;
    line-height: 120%;
    max-width: 100%;
  }

  .stages__slider {
    padding-top: 150px;
    margin-bottom: 28px;
  }

  .stages__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto auto;
    grid-template-columns: auto auto auto auto auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0;
  }

  .stages__item {
    width: 100%;
  }

  .stages__item:nth-child(1) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    padding-top: 62px;
  }

  .stages__item:nth-child(2) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    padding-top: 10px;
    padding-bottom: 33px;
  }

  .stages__item:nth-child(3) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-top: 62px;
  }

  .stages__item:nth-child(4) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 62px;
    padding-bottom: 0;
  }

  .stages__item:nth-child(5) {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
    padding-top: 0;
  }

  .stages__item:nth-child(6) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-grid-row-span: 2;
    grid-row: span 2;
    padding-top: 62px;
  }

  .stages__item:nth-child(7) p {
    max-width: 100%;
  }

  .stages__item:nth-child(7) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    -ms-grid-row-span: 2;
    grid-row: span 2;
    -ms-grid-column-span: 1;
    grid-column: span 1;
    padding-top: 57px;
  }

  .stages__text {
    font-size: 18px;
  }

  .stages__picture {
    right: 0;
    top: 12%;
    max-width: 400px;
    -webkit-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }

  .participants {
    padding-top: 122px;
    padding-bottom: 102px;
  }

  .participants__title {
    font-size: 36px;
    line-height: 110%;
  }

  .participants__slider-next,
  .participants__slider-prev {
    width: 36px;
    height: 36px;
  }

  .participants__picture {
    max-width: 244px;
  }
}

@media (max-width: 47.99875em) {
  [class*=__container] {
    max-width: none;
    padding: 0 20px;
  }

  .popup__close {
    width: 0.875rem;
    height: 0.875rem;
  }

  .btn {
    max-width: 100%;
    padding: 18px 43px;
    max-height: 47px;
  }

  .logo {
    gap: 7px;
  }

  .logo__icons {
    gap: 1.5px;
  }

  .logo__icon {
    font-size: 27px;
  }

  .logo {
    font-size: 14px;
  }

  .hero {
    padding-top: 18px;
    padding-bottom: 291px;
  }

  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .hero__city {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    right: -110px;
    bottom: -20px;
    -o-object-position: bottom;
       object-position: bottom;
  }

  .hero__city img {
    height: 100%;
    -o-object-position: bottom;
       object-position: bottom;
  }

  .hero__city {
    height: 366px;
  }

  .hero__logo {
    margin-bottom: 42px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .hero__title {
    font-size: 36px;
    line-height: 110%;
  }

  .hero__text {
    text-align: left;
    margin-bottom: 32px;
  }

  .hero__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }

  .ticker {
    height: 38px;
    font-size: 16px;
  }

  .about__title {
    font-size: 28px;
    line-height: 136%;
  }

  .about__table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 11px;
  }

  .about__table tr:not(:last-child) {
    border-bottom: 2px solid #d0d0d0;
    padding-bottom: 15px;
  }

  .about__table tr:not(:first-child) {
    padding-top: 15px;
  }

  .about__table tr:nth-child(4) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .about__table tr td {
    padding: 0;
  }

  .about__td_right {
    padding-left: 0;
    width: 100%;
  }

  .about__td {
    padding: 0;
    border: none;
  }

  .about__picture img {
    width: 100%;
    max-height: 400px;
  }

  .about__picture {
    max-width: 100%;
  }

  .about__link {
    font-size: 18px;
  }

  .participants__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }

  .participants__slider-navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
    gap: 13px;
  }
}

@media (any-hover: hover) {
  .btn__black:hover {
    background: #fbce51;
    color: #313131;
  }

  .btn__white:hover {
    background-color: #1F1F1F;
    color: #fff;
  }

  .stages__slider-prev:hover,
  .stages__slider-next:hover {
    background-color: #FBCE51;
  }

  .participants__more:hover {
    background: #3057a2;
    color: #fff;
  }
}

.webp .stages__item{ background-image: url(../img/opacity-background.webp), url(../img/player-background.webp); }